starturl = 'http://beta.biovel.eu/'
# To run tests as a registered user, set the username and password to the
# appropriate strings, e.g.
# username = 'myname'
# password = 'mysecret'
# If username is None, workflows will be run as Guest user
username = None
password = None